<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free movie catalogue for you">
    <link rel="icon" href="./logo/icon-96x96.png" type="image/x-icon">
    <link rel="manifest" href="./app.webmanifest">
    <meta name="theme-color" content="#DB0000"/>
    <link rel="apple-touch-icon" href="/logo/icon-192x192.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

    <title>AMH Resto Apps</title>
</head>
<body>

<a href="#maincontent" class="skip-link">Skip to content</a>

<!-- Header -->
<header>
    <button id="menu" class="off-canvas" href="#" aria-label="Side Navigation">☰</button>
    <nav id="drawer" class="nav">
        <div id="wrapperid" class="wrapper">
            <div><img src="./logo/AMH-icon.png" alt="Logo" class="logo-image"></div>
            <div></div>
            <div class="nav-link"><a href="#/home">Home</a></div>
            <div class="nav-link"><a href="#/favorite">Favorite</a></div>
            <div class="nav-link"><a href="https://github.com/Hadiwasito1905" target="_blank">About Us</a></div>
        </div>
    </nav>
    <div class="hero-text-box">
        <h1>AMH Resto Apps</h1>
        <a class="btn btn-full" href="#headline">List Resto</a>
        <a class="btn btn-ghost" href="#/favorite">Restoran Favorit</a>
    </div>
</header>

<!-- Content -->
<main id="mainContent"></main>

<footer>
    <p>Noverry Ambo - 2023</p>
</footer>

</body>
</html>
